ul {
    list-style: none;
    display: flex;
    background-color: bisque;
    height: 50px;
    line-height: 50px;
}

li {
    margin-right: 10px;
}

a {
    text-decoration: none;
}

.App {
    padding: 10px;
}